@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


:root {
  --headingFont: 'Roboto', sans-serif;
  --textFont: 'Inter', sans-serif;

  --bgdColor: #CFF5E7;
  --lightBlue: #008CFF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

body {
  font-family: var(--textFont);
  color: black;
  font-size: 20px;
  background-color:var(--bgdColor);
  text-decoration: none;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.btn {
  /* background-color: var(--lightBlue); */
  /* color: #fff; */
  background-color: #f1b392;
  color: black;

  padding: 10px 20px;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #e46d2d;
}

button:hover {
  background-color: #e46d2d;
}

.page-title {
  font-family: var(--headingFont);
  font-size: 40px;
  font-weight: 600;
  line-height: 113px;
  margin-bottom: 30px;
  text-align: center;
}




/* NAVBAR */

.header-wrapper {
  background-color: #f1b392;
  border-bottom-left-radius: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-links {
  display: flex;
}
.nav-links:nth-child(3) a{
  border-right: 1px solid black;
}

.nav-link {
  padding-left: 20px;
}


/* HEADER */

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.hero-title {
  font-family: var(--headingFont);
  font-size: 80px;
  font-weight: 600;
  /* line-height: 113px; */
  margin-bottom: 30px;
}

.hero-text {
  margin-bottom: 50px;
  text-align: justify;
  max-width: 90%;
}

.hero-img {
  height: 100%;
}



/* DISCOVER BOOKS SECTION */

.discover-books {
  padding: 100px 0;
  text-align: center;
}

.section-title {
  font-family: var(--headingFont);
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 100px;
}

.books-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-wrapper{
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
}

.book-wrapper:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.book-img {
  height: 400px;
  width: 100%;
}

.book-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-wrapper p{
  text-align: center;
}

.book-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 10px 0;
}

.book-author {
  margin-bottom: 70px;
}



/* FOOTER  */

.footer-wrapper {
  background-color: #f1b392;
  margin-top: 5em;
  border-top-right-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-left img {
  height: 50px;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav li {
  margin-right: 20px;
}

.footer-nav li:last-child {
  margin-right: 0;
}


.footer-nav a {
  font-size: 18px;
  color: black;
}

.social-media a {
  color: #555;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

.social-media a:last-child {
  margin-right: 0;
}




/* CONTACT PAGE */

.contact-page {
  height: 90vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.contact-form label {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  resize: none;
}

/* LOGIN PAGE */

.login-page {
  height: 70vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.login-form label {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.login-form input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.submit-login {
  background-color: #f1b392;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-login:hover {
  background-color: #e46d2d;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-size: 16px;
}

.register-link a {
  color: #f1b392;
  text-decoration: none;
  font-size: 16px;
}

.register-link a:hover {
  text-decoration: underline;
}



/* DISCOVER BOOKS */

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-container input {
  width: 50%;
  padding: 0.5rem;
  /* border: ; */
  /* border: 3px solid #007bff; */
  font-size: 1rem;
}

.search-btn {
  background-color: #f1b392;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #e46d2d;
}

.fa-search {
  font-size: 1.2rem;
}

/* ERROR 404 PAGE */

.error404-text {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}


/* REGISTRATION PAGE */



.alert {
  border: 1px solid red;
  background-color: #ffe6e6;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


/* BOOK SINGLE PAGE */


.single-book-wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-cover {
  width: 400px;
  height: 300px;
}

.book-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book-info{
  margin-left: 40px;
}

h3 {
  margin: 0 0 100px 0;
}

/* USER PAGE */

.rented-books-wrapper {
  display: flex;
  flex-direction: column;
}
.rented-book-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px ;
}

.rented-book-text {
  max-width: 500px;
}

.rented-book-img {
  width: 150px;
  height: auto;
}

.rented-book-img img  {
  width: 100%;
}

.rented-book-btns {
  display: flex;
  flex-direction: column;
}

.rented-page-h3 {
  margin-bottom: 50px;
}

.rented-author {
  margin-bottom: 30px;
}


/* .btn-remove {
  background-color: red;
}

.btn-add {
  background-color: green;
} */